body {
	background-color: black;
	font-family: Verdana;
	margin: 30px;
	color: red;
}

.button {
	margin: 5px 0 0 0;
 	background-color: red;
 	color: black;
 	padding: 1px 20px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	font-family: Verdana;
 	border: none;
 	border-radius: 4px;
}

p small { 
	margin: 0 0 22px; 
}
